* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #eeeeee;
}

div.Row {
  display: flex;
  justify-content: center;
}

div.Row-letter {
  margin: 2px;
  border: 2px solid rgba(0,0,0,0.4);
  width: 40px;
  height: 40px;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}

div.Row-letter-green {
  border: none;
  background-color: rgb(87, 172, 87);
  color: white;
}

div.Row-letter-yellow {
  border: none;
  background-color: #e9c601;
  color: white;
}

div.Row-letter-gray {
  border: none;
  background-color: rgb(162, 162, 162);
  color: white;
}
